@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #1A3A1A #050F05;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #050F05;
}

*::-webkit-scrollbar-thumb {
  background-color: #1A3A1A;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #10C048;
}
